@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');


:root{
    --font-family: 'Merriweather Sans', sans-serif;;
    --font-style: ;
    --bg-color: #ffff;   
    --text-color: rgb(0, 0, 80);
    --main-color: rgb(255, 166, 0);
}

*{
    font-family: var(--font-family);
    font-style: var(--font-style);
    color: var(--text-color);
    scroll-behavior: smooth;
}

.vl {
    border-left: 3px solid var(--main-color);
    height: 30px;
    position: relative;
    top: 0;
}

.wel-title{
    color: var(--bg-color);
    font-size: 2.5rem;
    padding: 10px 18px;
}

.wel-contents{
    place-items: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-align: center;
}

.wel-link-pg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.pg-link{
    color: var(--main-color);
    font-size: 1.35rem;
    text-decoration: none;
    transition: all .3s ease;
}

.pg-link:hover{
    color: var(--bg-color);
}

.pg{
    color: var(--bg-color);
    font-size: 1.15rem;
    
}

.about-us{
    background: rgb(238, 238, 255);
}
.about-title{
    text-align: center;
    padding: 5px;
}

.about-title h2{
    font-size: 2.15rem;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--main-color);
}

p.about-cont{
    text-align: center;
    font-size: 1.015rem;
    margin-bottom: 5rem;
}

.about-rows{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    margin-bottom: 5rem;
}

.about-col{
    display: flex;
    position: relative;
    background: var(--main-color);
    padding: 15px 31px;
    color: var(--bg-color);
    text-align: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.about-col:hover{
    
    transition: all 0.5s ease;
    padding: 17px 32px;
}

.about-rows .about-col{
    flex: 1 1 21rem;
}

.about-icon i{
    color: var(--bg-color);
    font-size: 2.15rem;
}

.mission-title h3{
    color: var(--bg-color);
    font-size: 1.5rem;
}

hr.lin{
    color: var(--bg-color);
    border-color: var(--bg-color);
    background: var(--bg-color);
    height: 3px;
    max-width: 80px;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.mission-statement p{
    color: var(--bg-color);
    font-size: 1.285rem;
}

p.explore{
    font-size: 0.985rem;
}